code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.dark-theme code[class*='language-'],
.dark-theme pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.dark-theme :not(pre) > code[class*='language-'],
.dark-theme pre[class*='language-'] {
  background: #2e3440;
}

/* Inline code */
.dark-theme :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.dark-theme .token.comment,
.dark-theme .token.prolog,
.dark-theme .token.doctype,
.dark-theme .token.cdata {
  color: #636f88;
}

.dark-theme .token.punctuation {
  color: #81a1c1;
}

.dark-theme .namespace {
  opacity: 0.7;
}

.dark-theme .token.property,
.dark-theme .token.tag,
.dark-theme .token.constant,
.dark-theme .token.symbol,
.dark-theme .token.deleted {
  color: #81a1c1;
}

.dark-theme .token.number {
  color: #b48ead;
}

.dark-theme .token.boolean {
  color: #81a1c1;
}

.dark-theme .token.selector,
.dark-theme .token.attr-name,
.dark-theme .token.string,
.dark-theme .token.char,
.dark-theme .token.builtin,
.token.inserted {
  color: #a3be8c;
}

.dark-theme .token.operator,
.dark-theme .token.entity,
.dark-theme .token.url,
.dark-theme .language-css .token.string,
.dark-theme .style .token.string,
.dark-theme .token.variable {
  color: #81a1c1;
}

.dark-theme .token.atrule,
.dark-theme .token.attr-value,
.dark-theme .token.function,
.dark-theme .token.class-name {
  color: #88c0d0;
}

.dark-theme .token.keyword {
  color: #81a1c1;
}

.dark-theme .token.regex,
.dark-theme .token.important {
  color: #ebcb8b;
}

.dark-theme .token.important,
.dark-theme .token.bold {
  font-weight: bold;
}

.dark-theme .token.italic {
  font-style: italic;
}

.dark-theme .token.entity {
  cursor: help;
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.light-theme code[class*='language-'],
.light-theme pre[class*='language-'] {
  background: #f5f7ff;
  color: #5e6687;
}

.light-theme pre[class*='language-']::-moz-selection,
.light-theme pre[class*='language-'] ::-moz-selection,
.light-theme code[class*='language-']::-moz-selection,
.light-theme code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #dfe2f1;
}

.light-theme pre[class*='language-']::selection,
.light-theme pre[class*='language-'] ::selection,
.light-theme code[class*='language-']::selection,
.light-theme code[class*='language-'] ::selection {
  text-shadow: none;
  background: #dfe2f1;
}

/* Code blocks */
.light-theme pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
.light-theme :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.light-theme .token.comment,
.light-theme .token.prolog,
.light-theme .token.doctype,
.light-theme .token.cdata {
  color: #898ea4;
}

.light-theme .token.punctuation {
  color: #5e6687;
}

.light-theme .token.namespace {
  opacity: 0.7;
}

.light-theme .token.operator,
.light-theme .token.boolean,
.light-theme .token.number {
  color: #c76b29;
}

.light-theme .token.property {
  color: #c08b30;
}

.light-theme .token.tag {
  color: #3d8fd1;
}

.light-theme .token.string {
  color: #22a2c9;
}

.light-theme .token.selector {
  color: #6679cc;
}

.light-theme .token.attr-name {
  color: #c76b29;
}

.light-theme .token.entity,
.light-theme .token.url,
.light-theme .language-css .token.string,
.light-theme .style .token.string {
  color: #22a2c9;
}

.light-theme .token.attr-value,
.light-theme .token.keyword,
.light-theme .token.control,
.light-theme .token.directive,
.light-theme .token.unit {
  color: #ac9739;
}

.light-theme .token.statement,
.light-theme .token.regex,
.light-theme .token.atrule {
  color: #22a2c9;
}

.light-theme .token.placeholder,
.light-theme .token.variable {
  color: #3d8fd1;
}

.light-theme .token.deleted {
  text-decoration: line-through;
}

.light-theme .token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.light-theme .token.italic {
  font-style: italic;
}

.light-theme .token.important,
.light-theme .token.bold {
  font-weight: bold;
}

.light-theme .token.important {
  color: #c94922;
}

.light-theme .token.entity {
  cursor: help;
}

.light-theme pre > code.highlight {
  outline: 0.4em solid #c94922;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.light-theme .line-numbers .line-numbers-rows {
  border-right-color: #dfe2f1;
}

.light-theme .line-numbers-rows > span:before {
  color: #979db4;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.light-theme .line-highlight {
  background: rgba(107, 115, 148, 0.2);
  background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
  background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
}
